# Variáveis de ambiente da aplicação

# Número oficial de atendimento WhatsApp (DDI + DDD + Número sem caracteres especiais)
# Exemplo para Mococa - SP: 5519995443922
VITE_WHATSAPP_NUMBER=5519995443922
